body{
  margin: 0;
  padding: 0;
  border-color: black;
  border-style: solid;
  border-width: 5%;
}
.logo{
    

 width: 20%;
 height: 10%;
 
}
.Social-Media{
    width: 40px;
    height:40px;
    

}
.carousel-inner img {
  width: 100%;
  height: 100%;

}
.listf{
  list-style-type: none;
  justify-content:center;
 
}
.listf > li{
  padding-left: 20px;
  
}
.listf > li > a{
 color: black;
}
.listf > li > a:hover{
 text-decoration: none;
}
.carousel{
  width: 80%;
  height: 20%;
}

.header{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 15%;
}
.article{
    width: 100%;
}
.card{
    border-radius: 0px !important;
    border: 0px !important;
}
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.myButton {
	box-shadow: 3px 4px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:5px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

        